<%- include("includes/head.ejs")%>
  <body>
    <div class="container">
      <div class="profile">
        <img
          src="https://i.pinimg.com/564x/a2/5c/cc/a25ccc9054260feca7cee4b975d359a2.jpg"
          alt="Some images"
        />
        <h2><%=data.name%></h2>
        <p><b>Animal's</b></p>
        <p><b>Familier like a human</b></p>
      </div>
      <div class="stats">
        <div class="item">
          <h3>Posts</h3>
          <p>1</p>
        </div>
        <div class="item">
          <h3>Following</h3>
          <p>100</p>
        </div>
        <div class="item">
          <h3>Followers</h3>
          <p>1000</p>
        </div>
      </div>
      <div class="post">
        <%for(item of data.posts){ %>
        <img src="<%=item.image%>" alt="Some images" />
        <hr/>
        <div class="likecomment">
          <label for="likes">Likes</label>
          <button id="likes"><%=item.likes%></button>
          <p class="deco">Comments <%=item.comments%></p>
        </div>
        <%}%>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>

